<div class="main">
  <div class="inner">
    <div class="form__wrapper">
    <h2 class="page-heading">投稿する</h2>
    <%= form_with model: @tweet, local: true do |form| %>
      <div class = "field">
        <%= form.label :nickname, "ニックネーム" %><br />
        <%= form.text_field :nickname, placeholder: "nickname" %>
      </div>
      <div class = "field">
        <%= form.label :text, "つぶやきたい事" %><br />
        <%= form.text_area :text, placeholder: "text", rows: "10" %>
      </div>
      <div class = "actions">
        <%= form.submit "SEND" %>
      </div>
    <% end %>
  </div>
</div>